.slide-away-enter-active,
.slide-away-leave-active {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.slide-away-enter,
.slide-away-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-away-enter-from,
.slide-away-leave {
  transform: translateY(10px);
  opacity: 0;
}

.slide-forward-enter-active,
.slide-forward-leave-active,
.slide-backward-enter-active,
.slide-backward-leave-active {
  transition: all 0.2s ease;
  position: absolute;
  width: 100%;
}

.slide-forward-enter-from {
  transform: translateX(100%);
}

.slide-forward-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}

.slide-backward-enter-from {
  transform: translateX(-30%);
  opacity: 0;
}

.slide-backward-leave-to {
  transform: translateX(100%);
}
